body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

html {
  scroll-behavior: smooth;
}
#about {
  display: flex;
  align-items: center;
  gap: 20px; 
  padding: 40px 0;
}

#profileimage {
  width: 500px; 
  height: 550px; 
  object-fit: cover;
  border: 5px solid transparent;
            
            border-image: linear-gradient(45deg, #00bcd4, #2196f3);
            border-image-slice: 1;
            
  margin-left:20px;
}

.about-container {
  display: flex;
  align-items: center;
  gap: 40px; 
}

.about-description {
  max-width: 600px;
}

.about-description h2 {
  margin-top: 0;
}

.about-description p {
  font-size: 1.2rem;
  line-height: 1.6;
}
header {
  background: linear-gradient(45deg, #00bcd4, #2196f3); 
  color: white;
  padding: 20px;
  text-align: center;
}

nav {
  margin: 20px 0;
  text-align: center;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #4a90e2;
  font-weight: bold;
  transition: color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 40px 0;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.project-card img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin-right: 20px;
}

.project-card h3 {
  margin: 0 0 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: linear-gradient(45deg, #00bcd4, #2196f3); 
  color: white;
}

footer a {
  color: #4a90e2;
  text-decoration: none;
}

.skills-category {
  margin-bottom: 40px;
}

.skills-category h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

#contact {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

#contact p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

ul li {
  margin: 15px 0;
}

ul li a {
  font-size: 1.1rem;
  color: #4a90e2;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: #333;
}

.skill {
  text-align: center;
  padding: 15px;
  background: linear-gradient(45deg, #00bcd4, #2196f3); 
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.skill:hover {
  transform: scale(1.1);
}

.skill-icon {
  width: 60px;
  height: auto;
}

.skill p {
  margin: 0;
  font-size: 1rem;
}

#backa{
  color:black;
}
.btn:hover {
  transform: scale(1.05); 
}
